<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.datasource">java:/OnlineStore-mysql</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.current_session_context_class">thread</property>
  
        <mapping resource="com/jboss/samples/onlinestore/entity/Office.hbm.xml" />
        <mapping resource="com/jboss/samples/onlinestore/entity/Customer.hbm.xml" />
        <mapping resource="com/jboss/samples/onlinestore/entity/Order.hbm.xml" />
        <mapping resource="com/jboss/samples/onlinestore/entity/Employee.hbm.xml" />
        <mapping resource="com/jboss/samples/onlinestore/entity/Orderdetail.hbm.xml" />
        <mapping resource="com/jboss/samples/onlinestore/entity/Payment.hbm.xml" />
        <mapping resource="com/jboss/samples/onlinestore/entity/Product.hbm.xml" />
        <mapping resource="com/jboss/samples/onlinestore/entity/Productline.hbm.xml" />
    </session-factory>
</hibernate-configuration>
